.chbut{
  width: 180px;
  height: 40px;
}

.text {
  font-size: 20px;
}
.text1 {
  font-size: 18px;
}

body{
  color: #2e2e2ee7;
  font-family: "Roboto", "Arial", sans-serif;
  font-size:  20px;
  background: #F3F3F3
}
table {
  border-radius: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  border: 2px solid #e9e7f7;
  display: block;
  border-collapse: collapse;
  table-layout: fixed;
  
}
th.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}
th, td {
  text-align: left;
  border-bottom: 1px solid #d8cfff;
  border-top: 1px solid #d8cfff;
  border-right: 1px solid #d8cfff ;
}
td.profile_table {
  width: 10%;
}
td {
  background-color: white;
  width: 16.6%;
}
th {
  background-color: #D8CFFF;
  border-top: none;
}
center {
  margin: 20px;
}
button{
  color: #ffffffdc;
  background-color: #a860d8d6;
  border: solid 0px #61397cd6; 
  border-radius: 4px;
  font-size: 85%;
}
input {
  color: #ffffffdc;
  background-color: #a860d8d6;
  border: solid 1px #61397cd6; 
  border-radius: 4px;
  font-size: 85%;
}
h3{
  font-size: 180%;
}
span{
  font-size: 90%;
}
td {
  font-size: 83%
}
#div {
  background-color: #D8CFFF; 
  width: 30%; 
  margin-bottom: 20px;
  padding: 10px; border: solid 0px #e9e7f7; border-radius: 6px; color:#202020ef; 
}
#button {
  margin-top: 9px;
}
#mark {
  width: 50px; height: 50px; color: #242424dc;
  background-color: #ffffffd6;
  border: solid 1px #ffffffd6; 
  font-size: 135%;
}