<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
<form action="/change_profile2?id={{id}}" method = 'post'><div>
<span class = 'text'>ФИО:</span> <input name='name' style="margin:10px; width:300px; height:50px" type="text" value="{{name}}"><br>
<span class = 'text'>Класс:</span> <input name='class1' style="margin:10px; width:296px; height:50px" type="text" value="{{class1}}"><br>
<span class = 'text'>Уровень английского:</span> <input name='level' style="margin:10px; width:168px; height:50px" type="text" value="{{english_level}}"><br>
<span class = 'text'>Группа:</span> <input name='group' style="margin:10px; width:290px; height:50px" type="text" value="{{group}}"><br>
</div>
<div style="position: absolute; left: 450px; bottom: 60px">
<span class = 'text'>Достижения:</span> <br><textarea name='olympiads' rows = '42' cols = '140' value="{{olympiads}}"> </textarea>
    <br>
    <br></div>
<input type="submit" class = 'text'>
</form>
<a href="/del_user?id={{id}}"><button ><span class = 'text'>Удалить ученика</span></button></a>