<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
<title>Изменить профиль</title>
<form action="/change_profile2?id={{id}}" method = 'post'>
    ФИО: <input name='name' style="margin:10px; width:300px; height:50px" type="text" value="{{name}}"><br>
    Класс: <input name='class1' style="margin:10px; width:296px; height:50px" type="text" value="{{class1}}"><br>
    Уровень английского: <input name='level' style="margin:10px; width:193px; height:50px" type="text" value="{{english_level}}"><br>
    Группа: <input name='group' style="margin:10px; width:290px; height:50px" type="text" value="{{group}}"><br>
    Достижения: <input name='olympiads' style="margin:10px; width:253px; height:50px" type="text" value="{{olympiads}}"><br>
    Имя преподавателя: <input name='teacher_name' style="margin:10px; width:253px; height:50px" type="text" value="{{teacher_name}}"><br>
    <input type="submit">
</form>
<a href="/del_user?id={{id}}"><button ><span class = 'text'>Удалить ученика</span></button></a>