<body style="background-color: white;">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
<title>Изменить профиль</title>
<center><div id="div" style="width: 430px;">
    <form action="/change_profile2?id={{id}}" method = 'post'>
        ФИО: <input name='name' style="margin:10px; width:300px; height:50px" type="text" value="{{name}}"><br>
        Класс: <input name='class1' style="margin:10px; width:292px; height:50px" type="text" value="{{class1}}"><br>
        Уровень английского: <input name='level' style="margin:10px; width:153px; height:50px" type="text" value="{{english_level}}"><br>
        Группа: <input name='group' style="margin:10px; width:283px; height:50px" type="text" value="{{group}}"><br>
        Имя преподавателя: <input name='teacher_name' style="margin:10px; width:163px; height:50px" type="text" value="{{teacher_name}}"><br>
        Достижения: <br><textarea name='olympiads' style="margin:10px; width:243px; height:50px; " type="text">{{olympiads}}</textarea><br>
        <input id="submit" class = 'chbut' style="margin-top: 23px; font-size: 110%; width: 150px" type="submit" value="Применить">
    </form>
    <a href="/del_user?id={{id}}"><button >Удалить ученика</button></a>
</div></center>
</body>