<!DOCTYPE html>
<html>
<head>
 <title>Вход</title>
 <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
 <meta charset="UTF-8">
</head>
<body>
<center>
    <div id="div" style="margin-top: 10%; border-radius: 30px; box-shadow: 0.2em 0.2em 7px rgba(61, 61, 61, 0.205);">
        <h1>Вход</h1>  
        <input id="password" type="password" style="background-color: aliceblue; border: 0px; height: 28px; color:rgba(161, 161, 161, 0.699); font-size: 80%; padding-left: 10px;" placeholder="Пароль" >
        <button id="submit" type="button" class = 'chbut' style="margin-top: 23px;">Войти</button>
        <div id="result"></div>
        <div style="margin-top: 20px; font-size: 80%;">или</div>
        <br>
            <button onclick="without_akk()" style="margin-bottom: 70px; padding-left: 10px; padding-right: 10px; padding-bottom: 5px; padding-top: 5px;"><div style="font-size: 100%; color: rgb(240, 240, 240);"> 
                <!-- <img width="25" height="25" src="https://img.icons8.com/material-two-tone/96/student-male.png" alt="student-male"/>  -->
                <span>Войти как ученик</span>
            </button> 
        <br>
    </div>
</center>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script>
     $(document).ready(function() {
    var passwordInput = $('#password');
    var submitButton = $('#submit');
    var resultDiv = $('#result');

    submitButton.click(function() {//
        var password = passwordInput.val();
        $.ajax({
            url: '{{ url_for("check_password") }}',
            type: 'POST',
            data: {password: password},
            success: function(response) {
                if (response.includes('successfully')) {
                    window.location.replace('/students');
                } else {
                    resultDiv.text(response);
                }
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
    });
});


    function without_akk() {
        window.location.replace('/students');
        document.cookie = "user=successfully_student"
    }
 </script>
</body>
</html>