<!DOCTYPE html>
<html>
<head>
 <title>Вход</title>
 <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
 <meta charset="UTF-8">
</head>
<body>
    <center><div id="div" style="margin-top: 10%;">
 <h1>Вход</h1>  
 <input id="password" type="password"><br>
 <button id="submit" type="button" class = 'chbut' style="margin-top: 23px;">Войти</button>
 <div id="result"></div>

<br><button onclick="without_akk()"><div style="font-size: 90%; color: rgb(207, 207, 207);">Войти как ученик</div></button> <br>
</div></center>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script>
     $(document).ready(function() {
    var passwordInput = $('#password');
    var submitButton = $('#submit');
    var resultDiv = $('#result');

    submitButton.click(function() {//
        var password = passwordInput.val();
        $.ajax({
            url: '{{ url_for("check_password") }}',
            type: 'POST',
            data: {password: password},
            success: function(response) {
                if (response.includes('successfully')) {
                    window.location.replace('/students');
                    document.cookie = "user="+response
                } else {
                    resultDiv.text(response);
                }
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
    });
});


    function without_akk() {
        window.location.replace('/students');
        document.cookie = "user=successfully_student"
    }
 </script>
</body>
</html>