<!DOCTYPE html>
<html>
<head>
    <title>Добавить оценку</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
</head>
<body>
    <center><div id="div" style="width: 500px; margin-top: 100px;">
    <div id = 'markhead'>Добавление оценки для <br>{{ name }} из {{ grade }} класса </div>
    <form action="/addmark?name={{ name }}&class={{ grade }}" method = 'post'>
        <br>
        <div class="dropdown" style="margin-top: 10px;">
            <span class = 'marklabel'>
                Выберете год:
            </span>
          <span class="dropdown-content">
                <select name="year" >
                <option selected value="y1">{{year1}}-{{year0}}</option>
                <option value="y2">{{year2}}-{{year1}}</option>
                <option value="y3">{{year3}}-{{year2}}</option>
                </select>
          </span>
        <br>
        </div>
        <div style="margin-top: 10px;">
        <span class = 'marklabel'> Выберете тип оценки:</span>
          <span class="dropdown-content">
              <select name="type">
                  <option selected value="vb"> Входное тестирование БАЛЛ</option>
                  <option value="vl"> Входное тестирование УРОВЕНЬ</option>
                  <option value="t1"> 1 триместровая</option>
                  <option value="t2"> 2 триметсровая</option>
                  <option value="t3"> 3 триместровая</option>
                  <option value="s1"> Зимняя сессия</option>
                  <option value="s2"> Летняя сессия</option>
                  <option value="oge"> Пробник ОГЭ</option> 
                  <option value="y"> Годовая</option>
              </select>
          </span>
        </div>
        <div style="margin-top: 10px;">
        <span class = 'marklabel'> Оценка: </span>
        <input name = 'mark' type = 'text' id = 'markfield'>
        </div>
        <br>
        <input type="submit" id = 'but1'>
    </form>
</div></center>
</body>
</html>