<!DOCTYPE html>
<html>
<head>
    <title>Добавить оценку</title>
    <style>

    </style>
</head>
<body>
    <div id = 'markhead'>Добавление оценки для {{ name }} из {{ grade }} класса </div>
    <form action="/addmark?name={{ name }}&class={{ grade }}" method = 'post'>
        <br>
        <div class="dropdown">
            <span class = 'marklabel'>
                Выберете год:
            </span>
          <span class="dropdown-content">
                <select name="year" >
                <option selected value="y1">{{year1}}</option>
                <option value="y2">{{year2}}</option>
                <option value="y3">{{year3}}</option>
                </select>
          </span>
        <br>
        </div>
        <span class = 'marklabel'> Выберете тип оценки:</span>
          <span class="dropdown-content">
              <select name="type">
                  <option selected value="v"> Входное тестирование</option>
                  <option value="t1"> 1 триместровая</option>
                  <option value="t2"> 2 триметсровая</option>
                  <option value="t3"> 3 триместровая</option>
                  <option value="s1"> Зимняя сессия</option>
                  <option value="s2"> Летняя сессия</option>
              </select>
          </span>
        <br>
        <span class = 'marklabel'> Оценка: </span>
            <input name = 'mark' type = 'number' id = 'markfield'>
        <br>
        <input type="submit" id = 'but1'>
    </form>
</body>
</html>