<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
<title>Проофиль {{name}}</title>
<body>


  <center>
    <div><h3>{{name}}</h3></div>
    <div id="div">
      <strong style="margin: 100px;">
        {{class1}} класс, Группа {{group}}
      </strong>
      <br> 
      <span style="font-size: 94%;">Уровень: {{english_level}}</span>
    <br>
      <a href="/newmark?name={{name}}&class={{class1}}" ><button id="button">Добавить оценку</button></a>
      <a href="/change_profile?id={{id}}"><button id="button">Изменить профиль</button></a>
    </div>
  </center>
  <div id="div" >Достижения: {{olympiads}}</div>

  <table id="text">
    <thead>
      <tr>
        <th><center>Год/Тип оценки</center></th>  
        <th><center>Уровень Входной тест</center></th>
        <th><center>Балл входной тест</center></th>
        <th><center>Триместр 1</center></th>
        <th><center>Триместр 2</center></th>
        <th><center>Триместр 3</center></th>
        <th><center>Годовая</center></th>
        <th><center>Зимняя сессия</center></th>
        <th><center>Летняя сессия</center></th>
        <th><center>Пробники ОГЭ</center></th>
      </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr>
      <td onclick="location.href='/'"><center><div>{{ item.year }}</div></center></td>
      <td onclick="location.href='/'"><center><div>{{ item.v_level }}</div></center></td>
      <td onclick="location.href='/'"><center><div>{{ item.v_ball }}</div></center></td>
      <td onclick="location.href='/'"><center><div>{{ item.t_one }}</div></center></td>
      <td onclick="location.href='/'"><center><div>{{ item.t_two }}</div></center></td>
      <td onclick="location.href='/'"><center><div>{{ item.t_three }}</div></center></td>
      <td onclick="location.href='/'"><center><div>{{ item.year_mark }}</div></center></td>
      <td onclick="location.href='/'"><center><div>{{ item.winter }}</div></center></td>
      <td onclick="location.href='/'"><center><div>{{ item.summer }}</div></center></td>
      <td onclick="location.href='/'"><center><div>{{ item.test_oge }}</div></center></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</body>