<center>
    <h3>Имя: {{name}}<br> Класс: {{class1}} <br> Уровень англ: {{english_level}} <br> Группа: {{group}} <br> Достижения: {{olympiads}}</h3>
    <br>
        <a href="/newmark?name={{name}}&class={{class1}}"><button>Добавить оценку</button></a>
        <a href="/change_profile?id={{id}}"><button>Изменить профиль</button></a>
</center>

<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FyjfHHvmpdMx8pD6qjKUfO1%2FUntitled%3Ftype%3Ddesign%26node-id%3D0%253A1%26t%3DFHUnsOdEbCVknH3D-1" allowfullscreen></iframe>