<!DOCTYPE html>
<html>
<head>
 <title>Таблица учеников</title>
 <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">

</head>
<body>
  <div id="div">
    <input type="text" id="search_words" >
    <button onclick="search()">Поиск</button> <br> 
    <a href="/"> <button style="margin-top: 10px;" onclick="exit()">Выйти из аккаунта</button></a>
    <a href="/addstudent"> <button style="margin-top: 10px;">Добавить ученика</button></a>
  </div>
 <table id="text">
  <thead>
   <tr>
    <th><center>5 класс</center></th>
    <th><center>6 класс</center></th>
    <th><center>7 класс</center></th>
    <th><center>8 класс</center></th>
    <th><center>9 класс</center></th>
    <th><center>10 класс</center></th>
    <th><center>11 класс</center></th>
   </tr>
  </thead>
  <tbody>
   {% for item in data %}

   <tr>
    <td onclick="location.href='/profile?name={{ item.five }}&class=5'"><center><div style="height: 80px">{{ item.five }}</div></center></td>
    <td onclick="location.href='/profile?name={{ item.six }}&class=6'" style="background-color: #252525"><center><div>{{ item.six }}</div></center></td>
    <td onclick="location.href='/profile?name={{ item.seven }}&class=7'"><center><div>{{ item.seven }}</div></center></td>
    <td onclick="location.href='/profile?name={{ item.eight }}&class=8'" style="background-color: #252525"><center><div>{{ item.eight }}</div></center></td>
    <td onclick="location.href='/profile?name={{ item.nine }}&class=9'"><center><div>{{ item.nine }}</div></center></td>
    <td onclick="location.href='/profile?name={{ item.ten }}&class=10'" style="background-color: #252525"><center><div>{{ item.ten }}</div></center></td>
    <td onclick="location.href='/profile?name={{ item.eleven }}&class=11'"><center><div>{{ item.eleven }}</div></center></td>
   </tr>

   {% endfor %}
  </tbody>
 </table>






 <script type="text/javascript">
function search() {
  var words = search_words.value
  words = words.replace("<", "");
  words = words.replace(">", "");
  var text = document.getElementById('text').innerHTML
  var result = text.replace(new RegExp(words,'g'), "<div style='background:#ff3200; display:inline;'>" + words + "</div>");
  document.getElementById('text').innerHTML = result;
}

function exit() {
  document.cookie = "user=0"

}
</script>


</body>
</html>