<!DOCTYPE html>
<html>
<head>
 <title>Таблица учеников</title>
 <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">

</head>
<body>
  <div id="div">
    <input type="text" id="search_words" >
    <button onclick="search()">Поиск</button> <br> 
    <a href="/"> <button style="margin-top: 10px;" onclick="exit()">Выйти из аккаунта</button></a>
  </div>
  <div id="div" style="position: absolute; right: 5px; top: 9px">
    <form action="/students" method = 'get'>
      <span style="font-size: 80%;">Сортировать по группе:</span>
            <span class="dropdown-content">
                  <select name="group">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                  </select>
            </span>
            <input id="submit" type="submit" value="Сортировать" style="margin-left: 15px;">
    </form>
    <a href="/students"><button style="margin-top: 10px;">Отменить сортировку</button></a>
  </div>
 <table id="text">
  <thead>
   <tr>
    <th><center>5 класс</center></th>
    <th><center>6 класс</center></th>
    <th><center>7 класс</center></th>
    <th><center>8 класс</center></th>
    <th><center>9 класс</center></th>
    <th><center>10 класс</center></th>
    <th><center>11 класс</center></th>
   </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
     {% if item.five %}<td onclick="location.href='/profile?name={{ item.five }}&class=5'"><center><div style="height: 80px">{{ item.five }}</div></center></td>{% else %}<td></td>{% endif %}
     {% if item.six %}<td onclick="location.href='/profile?name={{ item.six }}&class=6'" style="background-color: #252525"><center><div>{{ item.six }}</div></center></td>{% else %}<td style="background-color: #252525"></td>{% endif %}
     {% if item.seven %}<td onclick="location.href='/profile?name={{ item.seven }}&class=7'"><center><div>{{ item.seven }}</div></center></td>{% else %}<td></td>{% endif %}
     {% if item.eight %}<td onclick="location.href='/profile?name={{ item.eight }}&class=8'" style="background-color: #252525"><center><div>{{ item.eight }}</div></center></td>{% else %}<td style="background-color: #252525"></td>{% endif %}
     {% if item.nine %}<td onclick="location.href='/profile?name={{ item.nine }}&class=9'"><center><div>{{ item.nine }}</div></center></td>{% else %}<td></td>{% endif %}
     {% if item.ten %}<td onclick="location.href='/profile?name={{ item.ten }}&class=10'" style="background-color: #252525"><center><div>{{ item.ten }}</div></center></td>{% else %}<td style="background-color: #252525"></td>{% endif %}
     {% if item.eleven %}<td onclick="location.href='/profile?name={{ item.eleven }}&class=11'"><center><div>{{ item.eleven }}</div></center></td>{% else %}<td></td>{% endif %}
    </tr>  
 
    {% endfor %}
  </tbody>
 </table>






 <script type="text/javascript">
function search() {
  alert("Поиск пока не работает(");
  // var words = search_words.value
  // words = words.replace("<", "");
  // words = words.replace(">", "");
  // var text = document.getElementById('text').innerHTML
  // var result = text.replace(new RegExp(words,'g'), "<div style='background:#ff3200; display:inline;'>" + words + "</div>");
  // document.getElementById('text').innerHTML = result;
}

function exit() {
  document.cookie = "user=0"

}
</script>


</body>
</html>