<!DOCTYPE html>
<html>
<head>
 <title>Таблица учеников</title>
 <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">

</head>
<body>
  <div id="div" style=" box-shadow: 0.1em 0.1em 6px rgba(61, 61, 61, 0.24);">
    <form action="/students" method = 'get'>
      <input type="submit" value="Поиск">
            <input type="text" name='search'>
            
    </form>  <br> 
    <a href="/"> <button style="margin-top: 10px; width: 31%;" onclick="exit()">Выйти из аккаунта</button></a>
    <a href="/addstudent"> <button style="margin-top: 10px; width: 31%;">Добавить ученика</button></a>
    <a href="/cancel_backup"> <button style="margin-top: 10px; width: 31%;">Отменить действие</button></a>
    <a href="/db_logs"> <button style="margin-top: 10px; width: 31%;">История изменений</button></a>
  </div>
  <div id="div" style="position: absolute; right: 5px; top: 9px; box-shadow: 0.1em 0.1em 4px rgba(61, 61, 61, 0.123);">
    <form action="/students" method = 'get'>
      <span style="font-size: 80%;">Фильтровать по группе:</span>
            <span class="dropdown-content">
                  <select name="group">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                  </select>
            </span>
            <input id="submit" type="submit" value="Фильтровать" style="margin-left: 15px;">
    </form>
    <a href="/students"><button style="margin-top: 10px;">Отменить фильтр</button></a>
  </div>
 <table id="text">
  <thead>
    <tr>
     <th onclick = "location.href='/class?grade=5'"><center>5 класс</center></th>
     <th onclick = "location.href='/class?grade=6'"><center>6 класс</center></th>
     <th onclick = "location.href='/class?grade=7'"><center>7 класс</center></th>
     <th onclick = "location.href='/class?grade=8'"><center>8 класс</center></th>
     <th onclick = "location.href='/class?grade=9'"><center>9 класс</center></th>
     <th onclick = "location.href='/class?grade=10'"><center>10 класс</center></th>
     <th onclick = "location.href='/class?grade=11'"><center>11 класс</center></th>
    </tr>
  </thead>
  <tbody>
   {% for item in data %}
   <tr>
    {% if item.five %}<td onclick="location.href='/profile?name={{ item.five }}&class=5'" style="cursor: pointer"><center><div>{{ item.five }}</div></center></td>{% else %}<td></td>{% endif %}
    {% if item.six %}<td onclick="location.href='/profile?name={{ item.six }}&class=6'" style="background-color: #fcfbff; cursor: pointer"><center><div>{{ item.six }}</div></center></td>{% else %}<td style="background-color: #fcfbff"></td>{% endif %}
    {% if item.seven %}<td onclick="location.href='/profile?name={{ item.seven }}&class=7'" style="cursor: pointer"><center><div>{{ item.seven }}</div></center></td>{% else %}<td></td>{% endif %}
    {% if item.eight %}<td onclick="location.href='/profile?name={{ item.eight }}&class=8'" style="background-color: #fcfbff; cursor: pointer"><center><div>{{ item.eight }}</div></center></td>{% else %}<td style="background-color: #fcfbff"></td>{% endif %}
    {% if item.nine %}<td onclick="location.href='/profile?name={{ item.nine }}&class=9'" style="cursor: pointer"><center><div>{{ item.nine }}</div></center></td>{% else %}<td></td>{% endif %}
    {% if item.ten %}<td onclick="location.href='/profile?name={{ item.ten }}&class=10'" style="background-color: #fcfbff; cursor: pointer"><center><div>{{ item.ten }}</div></center></td>{% else %}<td style="background-color: #fcfbff"></td>{% endif %}
    {% if item.eleven %}<td onclick="location.href='/profile?name={{ item.eleven }}&class=11'" style="cursor: pointer"><center><div>{{ item.eleven }}</div></center></td>{% else %}<td></td>{% endif %}
   </tr>  

   {% endfor %}
  </tbody>
 </table>






 <script type="text/javascript">

function exit() {
  document.cookie = "user=0"

}
</script>


</body>
</html>